<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titanic predict</title>
</head>
<body>
    <div align="center" class="main">
        <h1>Preencha os campos abaixo:</h1>
        <form action="result">
            <table>
                <tr>
                    <td align="right">CLASSE DO INGRESSO:(1ª,2ª,3ª)</td>
                    <td align="left"> <input type="text" name="n1"> </td>
                </tr>
                <tr>
                    <td align="right">IDADE:</td>
                    <td align="left"> <input type="text" name="n2"> </td>
                </tr>
                <tr>
                    <td align="right">SEXO:female(feminino)ou male(masculino)</td>
                    <td align="left"> <input type="text" name="n3"> </td>
                </tr>


            </table>
            <input type="submit">

        </form>
        Resultado:{{result2}}

    </div>
</body>
</html>